<div class="log-header">
 <div class="left-header">
   <div class="header-title">
     hogefuga
   </div>
 </div>
  <div class="right-header">
   <div class="header-button">
     <a href="#">編集</a>
   </div>
  </div>
</div>

<div class="documents">
 <div class="document">
   <div class="objective">
     目的
   </div>
   <div class="error_content">
     エラー内容
   </div>
   <div class="research">
     調査
   </div>
   <div class="cause">
     原因
   </div>
   <div class="solution">
     解決策
   </div>
   <div class="reference">
     参考
   </div>
</div>