<head>
 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<div class="side-bar-header">
 <div class="header-name">
   <h1><span>E</span>rror<span>L</span>og</h1>
 </div>
 <div class="icon">
   <%= link_to destroy_user_session_path, class: 'btn', method: :delete do %>
     <i class="fas fa-sign-out-alt"></i>
   <% end %>
   <i class="fas fa-users"></i>
   <i class="fas fa-file"></i>
  </div>
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
</div>

<div class="lists">
 <div class="list">
   <div class="list-title">
     <a href="#">ListTitle</a>
   </div>
 </div>
 <div class="list">
   <div class="list-title">
     <a href="#">ListTitle2</a>
   </div>
 </div>
</div>